:root {
  --mainWidth: 1500px;

  --backgroundColor: white;
  --textColor: #2b2b2b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  color: var(--textColor);
  font-family: sans-serif;
  background: var(--backgroundColor);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 25px;

  height: 100vh;

  text-align: center;
  background-color: var(--backgroundColor);
}

.popup h1 {
  margin-top: 15px;
}

.popup p {
  margin-top: 15px;
}

.popup .scroll-down {
  margin-top: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  width: 100%;

  margin-bottom: 50px;
}

.funny_image {
  width: 400px;
  height: 100%;

  border-radius: 25px;
}
